

/* button,
h1,
h2,
h3 {
    font-family: "BebasNeue";
    text-transform: uppercase;
} */

/* h2 {
    font-size: 3.1rem;
    line-height: 2.5rem;
    background-color: var(--turquoise);
    color: var(--white);
    padding: 2rem 0;
    background-color: lime;
} */

/* a {
    color: inherit;
} */

/* button {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    border: none;
    background-color: var(--green);
    border-radius: 0.5rem;
    color: var(--white);
    cursor: pointer;
    transition: box-shadow 0.2s;
}

button:hover {
    box-shadow: 0 0 1rem gray
} */

/* a {
    color: inherit;
} */

/* .App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
} */

/* .wrapper {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
} */

/* footer */
/* footer {
    margin-top: auto;
    background-color: var(--turquoise);
    color: var(--white);
    font-size: 1.5rem;
}

footer .container {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

footer .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    grid-gap: 2rem;
}

@media (max-width: 768px ) {
    footer .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }
}

footer ul {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
} */

/* Error page */
/* .Error-container {
    color: white;
    min-height: 100%;
    background-color: rgb(128, 2, 2);
    font-size: 5vh;
    flex-grow: 1;

    display: grid;
    place-items: center;
} */

/* Components */
/* .Logo {
    color: var(--turquoise);
    font-family: "Lobster";
    font-size: 4.9rem;
    line-height: 1.9rem;
} */

/*  */
/* .Search {
    position: relative;
    height: 3.3rem;
    width: 43.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid var(--lightgray);
}

.Search input{
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
}

.Search svg{
    width: 3rem;
    height: 2.2rem;
    fill: var(--lightgray);
} */

/*  */
/* .Basket{
    font-size: 3.3rem;
    line-height: 1.9rem;
    color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.Basket svg {
    width: 4.1rem;
    height: 3.7rem;
    fill: var(--turquoise);
} */

/*  */
/* .Navigation {
    font-family: "BebasNeue";
    background-color: var(--turquoise);
    color: var(--white);
    font-size: 2.1rem;
    line-height: 1.9rem;
    padding: 1rem 0;
    text-align: center;
    text-transform: uppercase;
} */

/* .Navigation .wrapper {
    /* justify-content: space-around; */
    /* display: flex;
    flex-wrap: wrap;
} */

.Navigation li {
    flex-grow: 1;
    position: relative;
    justify-content: stretch;
}

.Navigation li::after {
    content: "";
    display: inline-block;
    width: 0.2rem;
    height: 100%;
    background-color: var(--white);
    position: absolute;
    right: 0;
}

.Navigation li:last-child::after {
    content: "";
    display: none;
} */

/* cards */

/* .cards {
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-gap: 5rem;
    margin-top: 5rem;
    margin-bottom: 7.5rem;
    place-items: center;
}

@media (max-width: 768px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        grid-gap: 5rem;
        margin-top: 5rem;
        margin-bottom: 7.5rem;
    }
}

@media (max-width: 525px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
        grid-gap: 5rem;
        margin-top: 5rem;
        margin-bottom: 7.5rem;
    }
} */

/* .cards_basked {
    display: flex;
    flex-direction: column;
} */

/* .card {
    width: 100%;
    max-height: 200px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 4rem;
    font-size: 1.5rem;
    text-align: start;
    overflow: hidden;
    transition: all 1s;
} */

/* .cards_basked .card_hidden {
    height: 0px;
    background-color: red;
} */

/* .cards_basked .card > div {
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
}

.cards_basked .card img {
    width: 200px;
}

.cards_basked .card h3 {
    color: var(--black);
    font-size: 3rem;
}

.cards_basked .card button {
    background-color: var(--red);
} */

/* card */

/* .card {
    width: 100%;
    aspect-ratio: 1/1;
    border: 0.1rem solid lightgray;
    border-bottom: 0.5rem solid var(--green);
    border-radius: 0.3rem;
    box-shadow: 0 0 0.3rem lightgray;
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    color: var(--gray);
    font-size: 2.5rem;
    line-height: 2.7rem;
    font-weight: bold;
    text-align: center;
}

.card div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.card img {
    width: 100%;
    min-height: 120px;
    height: 100%;
    object-fit: contain;
    object-position: center;
} */



/* theam color */
.light {
    background-color: var(--white);
}

.dark {
    background-color: rgb(11, 85, 75);
}

/* Copyright */
/* .Copyright {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.8rem;
    padding: 0.5rem;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.15);
} */

/* .Basket-container {
    height: 100%;
    flex-grow: 1;
}

.basket-total {
    padding: 4rem;
    font-size: 2rem;
    font-weight: bold;
    border-top: 2px solid var(--lightgray);
    color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: flex-end;
} */

/* swiper */
/* .swiper-container {
    width: 100%;
    height: 190px;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.swiper-container .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 1;
    width: 100%;
    cursor: pointer;
}

.swiper-container .btn-next {
    justify-content: flex-start;
}

.swiper-container .btn-prew {
    justify-content: flex-end;
}

.swiper-container .btn svg {
    fill: var(--lightgray);
    transition: fill 0.2s;
}

.swiper-container .btn:active svg {
    fill: var(--black)
}

.swiper-container .view-container {
    width: 100;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

.swiper-container .items {
    height: 200px;
    display: flex;
    flex-direction: row;
    transition: all 0.4s;
}

.swiper-container .item {
    min-width: 33.33%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding: 2.5rem;
    text-align: start;
    position: relative;
}

.swiper-container .item:after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--lightgray);
    position: absolute;
    top: 0;
    right: 0;
}

.swiper-container .item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    grid-row: 1/3;
}

.swiper-container .item h3 {
    margin: auto auto 0 0;

    color: var(--gray);
    font-size: 2.5rem;
    line-height: 2.7rem;
    font-weight: bold;
}

.swiper-container .item button {
    margin: 0 auto auto 0;
}

/* test */
/* .select {
    background-color: red;
} */